<div class="container">
    <div class="row align-items-start">
        <div class="col-4">
            <h1>logo</h1>
        </div>
        <div class="col-8">
        <h1>STANS WEB CLIENT</h1>
      </div>
    </div>

    <div class="row align-items-center">
        <div class="col-4">
          <h2>toolbar</h2>
        </div>
        <div class="col-8">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="row align-items-center">
      <div class="col-12">
        <h1>PAGE FOOTER</h1>
      </div>
    </div>
</div>





